@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Roboto+Slab:wght@500&family=Signika:wght@600;700&display=swap');

.fonts
{
  font-family: "Signika";
  color: #556d6e;
  border: #839b9c solid;
  border-radius: 10px;
  display: inline-block;
}

.font
{
  font-family: "Roboto Slab";
  color:#556d6e;
}

 
body {
  background-image: url('project-management-doodle-pattern-64jq06zvvbe0j666.jpg');  
} 

.box
{
  backdrop-filter: blur(7px);
  border: #839b9c solid;
  border-radius: 10px;
}

#main
{
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.buttons
{
   width: 130px;
   height: 50px;
   background: #BDCDD6;
   color: black;
   border: #EEEEEE solid;
   border-radius: 5px;
   transition: 0.5s;
}

.buttons:hover{
   background: #839b9c;
   color: white;
   border: #627475 solid;
}

.cards
{ 
  backdrop-filter: blur(3px);
  background:transparent;
  border: #839b9c solid;
  border-radius: 10px;
}

.btns
{
   width: 85px;
   height: 30px;
   background:#BDCDD6;
   border: #EEEEEE solid;
   color: black;
   border-radius: 5px;
   transition: 0.5s;
   text-align: center;
}

.btns:hover{
   background: #839b9c;
   color:white;
   border: #627475 solid;
}
.shift{
  
  margin-left: 50px;}
