{% extends "layout.html" %}

{% block body %}
{% if message %}
    <div>{{ message }}</div>
{% endif %}

<div class="container-fluid" >
    <div class="row border border-2 align-items-center" style="height:90vh ">
        <div class="col"></div>
        <div class="col">
            <div class="row p-1 box"  style="margin-left: 10px;">
                <form action="{% url 'login' %}" method="post" class="col border-2 ">
                    {% csrf_token %}
                    <div class="border-bottom border-3 mb-5 mt-2"><span class="fs-1 font" >Login</span>
                    </div>
                    <div class="row m-2">
                        <input type="text" class="form-control border-3" id="formGroupExampleInput"
                            placeholder="Username" name="username">
                    </div>
                    <div class="row m-2">
                        <input type="password" class="form-control border-3" id="inputPassword"
                            placeholder="Password" name="password">
                    </div>
                    <br>
                    <div class="m-2"><button type="submit" value="Login" class="buttons">Login</button></div>
                    <br>
                    Don't have an account? <a href="{% url 'register' %}">Register here.</a>
                    <br>
                </form>
            </div>
        </div>
     <div class="col"></div>
    </div>
</div>
{% endblock %}